<span class="graytitle">カテゴリ</span>
<ul class="pageitem"> 
  <% @categories.each_with_index do |category, i| %>
  <% next unless category[:href].match(/.*cate_id=(.*)/) %>
  <li class="form"><input name="kw<%= i %>" type="button" value="<%= NKF.nkf('-w', category.inner_html) %>" onclick="window.location = '/category/<%= category[:href].match(/.*cate_id=(.*)/)[1] %>'; return false;"/></li>
  <% end %>
</ul>

<% if @new_tvs.size > 0 %>
<span class="graytitle">最新テレビ情報一覧</span>
<ul class="pageitem"> 
  <% @new_tvs.each_with_index do |info, i| %>
    <% next unless info.search('table a')[0] %>
    <li class="menu">
      <input name="wr<%= i %>" type="button" value="<%= NKF.nkf('-w', info.search('table a')[0].inner_html) %>" onclick="window.location = '/item/<%= info.search('table a')[0][:href].match(/.*i_id=([0-9]*).*/)[1] %>/<%= info.search('table a')[0][:href].match(/.*tv_id=([0-9]*).*/)[1] %>'; return false;"/>
    </li>
  <% end %>
</ul>
<% end %>
<% old = "" %>
<% top = true %>
<% @new_lists.each_with_index do |news, i| %>
  <% top = true %>
  <% news.search("table").each_with_index do |table, i| %>
    <% next if i == 1 %>
    <% if i == 2 %>
      <span class="graytitle"><%= NKF.nkf('-w', table.search(".pa_t10").inner_html).match(/.*「(.*)」.*/)[1] %>の最新情報</span>
      <ul class="pageitem">
    <% else %>
      <% html = table.search('td.pa_l5 a')[0] %>
      <% next unless html %>
      <% next if old == NKF.nkf('-w', html.inner_html) %>
      <% old = NKF.nkf('-w', html.inner_html) %>
      <li class="textbox">
        <% if top %>
          <% if table.search("td.pa_t10 a img") && table.search("td.pa_t10 a img")[0] %>
            <% image = table.search("td.pa_t10 a img")[0] %>
            <p style="float:left;">
              <img src="<%= image[:src] %>" border="0" width="<%= image[:width] %>" />
            </p>
            <div style="margin-left: <%= image[:width] %>px;">
              <input name="wr<%= i %>" type="button" value="<%= NKF.nkf('-w', html.inner_html) %>" onclick="window.location = '/item/<%= html[:href].match(/.*i_id=([0-9]*).*/)[1] %>/<%= html[:href].match(/.*tv_id=([0-9]*).*/)[1] %>'; return false;"/>
            </div>
          <% else %>
            <div><a href="/item/<%= html[:href].match(/.*i_id=([0-9]*).*/)[1] %>/<%= html[:href].match(/.*tv_id=([0-9]*).*/)[1] %>"><%= NKF.nkf('-w', html.inner_html) %></a></div>
          <% end %>
        <% else %>
          <div><a href="/item/<%= html[:href].match(/.*i_id=([0-9]*).*/)[1] %>/<%= html[:href].match(/.*tv_id=([0-9]*).*/)[1] %>"><%= NKF.nkf('-w', html.inner_html) %></a></div>
        <% end %>
        <% top = false %>
    </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<ul class="pageitem"> 
  <li class="form"><input name="link" type="button" value="TVaisを開く" onclick="window.location = 'http://www.tvais.jp/'; return false;"/></li>
</ul>
